@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
// classe silencieuse
%font_text{
    font-size: 18px;
}
%size_img{
    width: 188px;
    height: 188px;
}
// Modification du header 
header{
    background-image: url(/img/mobile/image-header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.top_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 20px;
    .logo{
        // padding-top: 20px;
        // padding-left: 20px;
        }
    .outline{
        width:24px ;
        height: 24px;
        fill:white;
    }
}
.top_menu_der{
    display: none;
}
.contain_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main_title{
        text-align: center;
        font-family: 'Fraunces',serif;
        font-weight: 900;
        padding-top: 10px;
        text-transform: uppercase;
        font-size: 25px;
        color: #ffffff;
    }
    img{
        padding-bottom: 119px;
        height: 107.48px;
        width: 30px;

    }
}
// Modification du body
body{display: flex;
    flex-direction: column;
    .trans_section{
        display: flex;
        text-align: center;
        flex-direction: column;
        h2{
            font-size: 32px;
        }
        .trans_first_p{
            @extend %font_text;
        }
    }
    .graph_section{
        display: flexbox;
        flex-direction: column;
        text-align: center;
        height: 600px;
        background-image: url(/img/mobile/image-graphic-design.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        h2{
            padding-top: 400px;
        }
    }
    .photo_section{
        background-image: url(/img/mobile/image-photography.jpg);
        height: 600px;
        background-size: cover;
        background-repeat: repeat;
        display: flex;
        flex-direction: column;
        text-align: center;
        h2{
            padding-top: 400px;
        }
    }
    .client_section{
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .four_box_img{
        display: grid;
        grid-template-columns: 188px 188px;
        grid-template-rows: 188px 188px;
        height: 376px ;
        width: 375px;
        .milk { 
            @extend %size_img;
        }
        .orange{
            @extend %size_img;
        }
        .sugar{
            @extend %size_img;
        }
        .ice{
            @extend %size_img;
        }
        
    }
    .footer_site{
        background-color: #90D4C6;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 350px;
        justify-content: center;
        align-content: center;
        .logo_foot{
            width: 170px;
            height: 33px; 
        }
    }
}